.cart-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.25em;
  padding: 1.25em;
}

.cart-card {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  border: 1px solid black;
  padding: 1.25em;
  gap: 1.25em;
}

.item-details {
  display: flex;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
}

.item-details > header {
  display: flex;
  width: 400px;
  height: 100px;
  gap: 1.25em
}

.item-details > header > h3 {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  align-self: center;
}


.card-footer {
  display: grid;
  grid-template: 1fr / .5fr .5fr;
}

.card-footer > li {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 100px;
  padding: .25em;
}

.card-footer > li:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 12px;
}

.card-footer > li > span {
  width: 100%;
}

.change-quantity {
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: center;
  gap: .5em;
  font-size: 1.2em;
  justify-self: end;
}

.change-quantity > button {
  padding: .2em;
  font-size: 1em;
  font-weight: 700;
}
