.fetch-error, .empty-cart {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  justify-content: center;
  align-items: center;
  padding: 1.25em;
  gap:  1.25em;
}

.fetch-error > h3, .empty-cart > h3 {
  text-decoration: underline;
  font-size: 2em;
}

.fetch-error > p, .empty-cart > p {
  font-size: 1.5em;
}

.loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* I dont know how copyright works but this was acquired from w3schools, loader
* implemntation */

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #000000;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

