.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  font-size: 1.25em;
  font-weight: 600;
}

.homepage > img {
  animation-duration: 3s;
  animation-name: beat;
  animation-iteration-count: infinite;
}

@keyframes beat {
  from {
    translate: 0 0;
    scale: 1;  
  }

  to {
    translate: 100 100;
    scale: 0.5;
  }
}
