* {
  padding: 0px;
  margin: 0px;
  font-family: monospace, sans-serif;
}

.page-heading {
  display: grid;
  grid-template: .5fr / .5fr .5fr;
  column-gap: 50%;
  padding: 1.5em;
  background-color: rgba(0, 0, 0, 0.6);
}

.page-heading {
  display: flex;
  gap: 50%;
  justify-content: center;
  align-items: center;
  padding:  1.5em;
  background-color: rgba(0, 0, 0, 0.6);
}

.page-heading > a {
  color: inherit;
  text-decoration: none;
}

.name-and-logo {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  cursor: pointer;
}

.heading-nav {
  max-width: 100%;
  min-width: 25%;
}

.nav-lists {
  list-style-type: none;
  min-width: 50%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25%;
}

.shopping, .cart {
  min-width: 25%;
  cursor: pointer;
}

.cart {
  position: relative;
  list-style: none;
}

.cart-count {
  position: absolute;
  top: -4px;
  right: -6px;

  min-width: 16px;
  height: 16px;
  padding: 0 4px;

  background-color: black;
  color: white;
  font-size: 1.2em;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 35%;
}
