@import url("./styles/root.css");
@import url("./styles/homepage.css");
@import url("./styles/shopping.css");
@import url("./styles/cart.css");
@import url("./styles/errors.css");


li {
  list-style-type: none;
}
